:root {
	--borderBlack: 2px solid black;
	--borderwhite: 2px solid white;
	--black: black;
	--white: white;
	--gradient: linear-gradient(
		0deg,
		rgba(143, 143, 143, 1) 0%,
		rgba(255, 203, 0, 1) 76%
	);
	--gradientLight: linear-gradient(
		0deg,
		rgba(143, 143, 143, 1) 0%,
		rgba(255, 203, 0, 1) 76%
	);
	--gradientDark: linear-gradient(
		0deg,
		rgba(143, 143, 143, 1) 0%,
		rgba(164, 0, 255, 1) 80%
	);
}

/* * {
	border: 1px solid red;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
} */

body {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0;
	background-color: var(--white);
}

header {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	flex: 0 0 100%;
	margin-bottom: 2px;
	height: 70px;
	border: var(--borderBlack);
}

main {
	flex: 0 0 100%;
	min-height: 90vh;
	display: flex;
	flex-direction: row;
	margin-top: 2px;
}

.header {
	display: flex;
	flex: 0 0 100%;
	justify-content: flex-end;
}

.welcomeBox {
	display: flex;
	flex: 1 1 50%;
	margin-right: 2px;
	justify-content: center;
	align-items: center;
	border: var(--borderBlack);
}

.welcomeCircle {
	display: flex;
	width: 70%;
	height: 70%;
	border-radius: 100%;
	justify-content: center;
	align-items: center;
	background: var(--gradient);
}

.welcomeCircle h1 {
	font-size: 400%;
	color: white;
	text-align: center;
}

a {
	text-decoration: none;
	font-size: 150%;
}

#lightButton {
	text-decoration: none;
	font-size: 200%;
}

.headerButtons {
	display: flex;
	align-items: center;
	margin-right: 10px;
}

.darkmode .headerButtons a {
	height: 70%;
	margin-left: 10px;
}
